<header>
    <div class="header-content">
        <a href="#" class="logo"> <img class="logo" src="../../../assets/images/Logo.jpg">
        </a>
        <nav>
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Features</a></li>
                <li><a href="">Pricing</a></li>
                <li><a href="">Testimonials</a></li>
                <li><a href="">Help</a></li>
            </ul>
        </nav>
        <div class="registration">
            <a class="sing-in" href=""><span>Sing In </span></a>
            <a class="sing-up" href=""> <span>Sign Up </span></a>
        </div>
    </div>
</header>