.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h1 {
    width: 447.81px;
    height: 100px;
    font-family: "Rubik";
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: #0B132A;
}

.header p {
    width: 555px;
    height: 60px;
    font-family: "Rubik";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #4F5665;

}

.customers {
    display: flex;
    gap: 50px;
    margin: 30px;

}

.cust-img {
    display: flex;
    gap: 20px;
    height: 50px;
}

.robert,
.christy,
.jou {
    width: 400px;
    height: 230px;
    border-radius: 10px;
    border: 2px solid #DDDDDD;
    padding: 30px;
}

.robert:hover,
.christy:hover,
.jou.jou:hover {
    border: 2px solid #F53838;
    box-shadow: 0px 10px 20px 0px #0D1025;
}

.about {
    display: flex;
    flex-direction: column;
}

.about h3 {
    width: 145px;
    font-family: "Rubik";
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    color: #0B132A;
}

.about p {
    width: 130px;
    font-family: "Rubik";
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    color: #4F5665;
}

.comment {
    margin-top: 20px;
    font-family: "Rubik";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #0B132A;
    width: 340px;
    height: 100px;

}

.stars {
    padding: 20px 30px;
}

.scroller {
    display: flex;
    justify-content: space-between;
    margin: 60px 150px;
}

.pages button {
    width: 15px;
    height: 15px;
    background-color: #DDE0E4;
    border-radius: 10px;
    border: none;
    margin: 10px;
}


.pages button:hover {
    background-color: #F53838;
    width: 45px;
    height: 15px;
    border: none;
    margin: 10px;
}

.left {
    width: 60px;
    height: 60px;
    border: 2px solid #F53838;
    border-radius: 30px;
    background-color: #fff;
}

.right {
    width: 60px;
    height: 60px;
    border: 2px solid #F53838;
    border-radius: 30px;
    background-color: #F53838;
    margin-left: 10px;
}