<section class="global">
    <div class="global-header">
        <h1>Huge Global Network of Fast VPN</h1>
        <p> See <span>LaslesVPN</span> everywhere to make it easier for you when you move locations.</p>
        <img src="../../assets/images/Huge Global.jpg">
    </div>
    <div class="socials">
        <a href="" ><img src="../../assets/images/netflix.png"></a>
       <a href=""> <img src="../../assets/images/reddit.png"></a>
       <a href=""><img src="../../assets/images/amazon.png"></a> 
        <a href=""><img src="../../assets/images/discord.png"></a>
        <a href=""><img src="../../assets/images/spotify.png"></a>
    </div>
</section>