<section class="users-statistics">
    <div class="statistics">

        <div class="users">
            <img src="../../assets/images/user.png" alt="">
            <div class="icons">
                <h1>90+</h1>
                <p>Users</p>
            </div>
        </div>

        <div class="locations">
            <img src="../../assets/images/location.png" alt="">
            <div class="icons">
                <h1>30+</h1>
                <p>Location</p>
            </div>
        </div>

        <div class="servers">
            <img src="../../assets/images/Server.png" alt="">
            <div class="icons">
                <h1>50+</h1>
                <p>Servers</p>
            </div>
        </div>

    </div>
</section>