<section class="plan">
    <div class="topic-header">
        <h1>Choose Your Plan</h1>
        <p>Let's choose the package that is best for you and explore it happily and cheerfully.</p>
    </div>
    <div class="packages">
        <div class="free">
            <img src="../../assets/images/Free.png">
            <h2>Free Plan</h2>
            <ul>
                <li><img src="../../assets/images/package.png"> Unlimited Bandwitch</li>
                <li><img src="../../assets/images/package.png">Encrypted Connection</li>
                <li><img src="../../assets/images/package.png">No Traffic Logs</li>
                <li><img src="../../assets/images/package.png">Works on All Devices</li>
            </ul>
            <div class="price1">
            <h3>Free</h3>
            <button>Select</button>
            </div>
        </div>
        <div class="standard">
            <img src="../../assets/images/Free.png">
            <h2>Standard Plan</h2>
            <ul>
                <li><img src="../../assets/images/package.png">Unlimited Bandwitch</li>
                <li><img src="../../assets/images/package.png">Encrypted Connection</li>
                <li><img src="../../assets/images/package.png">Yes Traffic Logs</li>
                <li><img src="../../assets/images/package.png">Works on All Devices</li>
                <li><img src="../../assets/images/package.png">Connect Anyware</li>
            </ul>
            <div class="price2">
            <h3>$9 <span>/ mo</span></h3>
            <button>Select</button></div>
        </div>
        <div class="premium">
            <img src="../../assets/images/Free.png">
            <h2>Premium Plan</h2>
            <ul>
                <li><img src="../../assets/images/package.png">Unlimited Bandwitch</li>
                <li><img src="../../assets/images/package.png">Encrypted Connection</li>
                <li><img src="../../assets/images/package.png">Yes Traffic Logs</li>
                <li><img src="../../assets/images/package.png">Works on All Devices</li>
                <li><img src="../../assets/images/package.png">Connect Anyware</li>
                <li><img src="../../assets/images/package.png">Get New Features</li>
            </ul>
            <div class="price3">
            <h3>$12 <span>/ mo</span></h3>
            <button>Select</button> </div>
        </div>
    </div>
</section>